<div class="footer">
    <div class="footer-inner">
        <div class="footer-content no-padding-bottom" style="background-image:linear-gradient(to right, white, #1667b0);">
            <ul class="list-unstyled pull-left no-padding-bottom">
                <li>
                    <i class="ace-icon fa fa-copyright blue bigger-110 bolder"></i> <strong>@DateTime.Now.Year - VNPT Hà Nội</strong>

                </li>
                <li>
                    <i class="ace-icon fa fa-map-marker blue bigger-125"></i> Địa chỉ :  75 Đinh Tiên Hoàng, Hoàn Kiếm, Hà Nội
                </li>
               
                <li>
                    <i class="ace-icon fa fa-chrome blue "></i> Trình duyệt : @(Context.Request.Browser.Browser) - Version: @(Context.Request.Browser.Version) - IP: @(Context.Request.UserHostAddress)
                </li>
            </ul>
            <ul class="list-unstyled pull-right white no-padding-bottom padding-right-5">
                <li>
                    <i class="ace-icon fa fa-phone  bigger-130"></i> Điện thoại hỗ trợ : <a href="tel:02439364879" class="white"> (024) 39349377</a>
                </li>
                <li>
                    <i class="ace-icon fa fa-envelope "></i> Email: <a href="mailto:khuongnv@vnpt.vn?Subject=Giám sát tiến độ thực hiện BSC" class="white" style="font-size:12px;">khuongnv@vnpt.vn</a>
                </li>                
            </ul>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
