@using Core.WebAplication.Common
@{
    var userInfo = SessionInfo.UserInfo;
}
<style>
    .container-full-width {
        width: 100%;
    }
    #divHeaderDesktop {        
        background-image: url('../../Images/logo.jpg');
        background-repeat: no-repeat;
        background-color: #0066B3;
        min-height: 100px;
    }
</style>
<div id="divHeaderDesktop" class="container container-full-width" style="width: 100%; height: auto; padding-left: 15px; padding-right: 15px; border-top-width: 1px;">
    <div style="float: right; text-align: left; margin-top: 75px;padding-right: 15px;">
        @{
            if (userInfo != null)
            {

                <span>
                    <span style="color: white;">@userInfo.USER_NAME</span>
                    <a style="color: orange; font-size: 12px" href="javascript:document.getElementById('logoutForm').submit()"><b>Thoát</b></a>
                    @Html.Hidden("ReturnUrl", HttpContext.Current.Request.RawUrl)
                </span>
            }
        }

    </div>
    <div style="float: right; text-align: center; margin-right: 250px; margin-top: 15px; color: white;">
        <span class="aHeader"><b>HỆ THỐNG BÁO CÁO KHỐI VĂN PHÒNG<br /> VNPT HÀ NỘI</b></span>
    </div>
</div>
