@{
    ViewBag.Title = "Trang chủ";
}
<style>
    .sidebar ul li {
        border-bottom: none;
    }
</style>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>


<div class="page-content">
    <div class="page-header">
        <h1>
            Trang chủ
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Dashboard
            </small>
        </h1>
    </div>
    <div class="vspace-12-sm"></div>
    <div class="hr hr32 hr-dotted"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h1>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        THÔNG BÁO
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->


                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <ul class="list-unstyled smaller">
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Từ <strong class="red">01/09/2019</strong> triển khai hệ thống quản lý giám sát tiến độ thực hiện kế hoạch BSC VNPT Hà Nội, áp dụng cho kỳ BSC quý 3/2019.

                            </li>
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Hướng dẫn sử dụng <a href="/BSC/TaiLieu/HDSD_BSC_HNI.docx">tại đây</a>
                            </li>
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Đầu mối hỗ trợ chương trình: Anh Nguyễn Văn Khương - Phòng quản trị hệ thống CNTT - Trung tâm CNTT (Số điện thoại: 39349377 - 0859908555. Mail: khuongnv@vnpt.vn).
                            </li>
                        </ul>
                    </div>
                </div><!-- PAGE CONTENT ENDS -->

            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        CẬP NHẬT HỆ THỐNG
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <ul class="list-unstyled smaller">
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Ngày <strong class="red">15/06/2020</strong> Bổ sung tính năng cập nhật thông tin danh sách số điện thoại SMS của các đơn vị/phòng ban phục vụ việc nhắn tin nhắc phiếu theo các kịch bản.
                            </li>
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Ngày <strong class="red">26/02/2020</strong> Bổ sung tính năng cập nhật tiến độ thực hiện KPI theo file.<a href="/BSC/TaiLieu/Huong_Dan_Upload_KQ_BaoCaoNhanh.docx"> Tài liệu hướng dẫn</a>
                            </li>
                            <li>
                                <i class="ace-icon fa fa-check green"></i>Ngày <strong class="red">03/10/2019</strong> Bổ sung tính năng theo dõi (cảnh báo nhập và nhận thông báo khi có thay đổi tiến độ thực hiện KPI) tại
                                menu cập nhật kế hoạch và báo cáo tổng hợp.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
